html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
nav {
  float: right;
}

nav li {
  display: inline-block;
}

 a {
  display: inline-block;
  padding: 20px;
}

body {
  margin: 0 auto; 
  width: 900px;
  line-height: 1.5;
}

main {
  width: 700px; 
}

section:nth-of-type(1) {
  display: inline-block ;
  /* float: left; */
}

aside {
  display: inline-block;
  width: 180px; 
  /* float: left;  */
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}


